<div style="margin: 2px 0px 8px 0px">
  <!-- *ngFor="let totalMacroRefeicao of totalMacroRefeicao; let i = index"     -->
  <h6 style="margin-bottom: 10px;">Total do Dia:</h6>

  <mat-card class="meal-card">

    <mat-card-content>
      <div class="macros">
        <div>Calorias: {{totalMacroDia.calorias.toFixed(2)}} kcal</div>
        <div>Proteína: {{totalMacroDia.proteina.toFixed(2)}}g</div>
        <div>Carboidratos: {{totalMacroDia.carboidratos.toFixed(2)}}g</div>
        <div>Gordura: {{totalMacroDia.gordura.toFixed(2)}}g</div>
        <div>Fibras: {{totalMacroDia.fibras.toFixed(2)}}g</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div style="margin: 2px 0px 8px 0px">
  <!-- *ngFor="let totalMacroRefeicao of totalMacroRefeicao; let i = index"     -->
  <h6 style="margin-bottom: 10px;">Distribuição de Macros:</h6>

  <mat-card class="meal-card">

    <mat-card-content>
      <div>
        <div>Proteína: {{distribuicaoMacros.proteinaPercentual.toFixed(2)}}%</div>
        <div>Carboidratos: {{distribuicaoMacros.carboidratosPercentual.toFixed(2)}}%</div>
        <div>Gordura: {{distribuicaoMacros.gorduraPercentual.toFixed(2)}}%</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div style="margin: 2px 0px 8px 0px">
  <!-- *ngFor="let totalMacroRefeicao of totalMacroRefeicao; let i = index"     -->
  <h6 style="margin-bottom: 10px;">Macros por Kg Corporal:</h6>

  <mat-card class="meal-card">

    <mat-card-content>
      <div>
        <div>Proteína: {{macrosPorKg.proteinaPorKg.toFixed(2)}}g/kg</div>
        <div>Carboidratos: {{macrosPorKg.carboidratosPorKg.toFixed(2)}}g/kg</div>
        <div>Gordura: {{macrosPorKg.gorduraPorKg.toFixed(2)}}g/kg</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div style="margin: 2px 0px 8px 0px">
  <!-- *ngFor="let totalMacroRefeicao of totalMacroRefeicao; let i = index"     -->
  <h6 style="margin-bottom: 10px;">Vitaminas e Minerais:</h6>

  <!-- 
      <mat-card class="meal-card">
    <mat-card-content> -->
  <div class="item-total tabela-vitaminas">
    <div class="tabela-cabecalho">
      <div>Nome</div>
      <div>Quantidade</div>
      <div>Total diário</div>
      <div>%</div>
    </div>
    <div *ngFor="let vitamina of vitaminas" class="tabela-linha">
      <div>{{vitamina.nome}}</div>
      <div class="tooltip-container">
        <span class="quantity" [mtxTooltip]="tooltipTpl" [mtxTooltipContext]="{ alimentos: vitamina.lista } "
          [mtxTooltipPosition]="'above'">{{vitamina.total.toFixed(1)}} {{vitamina.unidade}}</span>
        <!-- <span class="tooltip-text"><ul>{{vitamina.lista}}</ul></span> -->
      </div>
      <div>{{vitamina.recomendado}} {{vitamina.unidade}}</div>
      <div>{{(vitamina.total*100/vitamina.recomendado).toFixed()}}%</div>

      <ng-template #tooltipTpl let-alimentos="alimentos">

        <div class="tooltip-content-wrapper">
          <div *ngFor="let lista of vitamina.lista; let i = index;" class="tooltip-content">
            <div class="tooltip-left">{{i+1}}- {{lista.nome}} {{lista.quantidadeNutriente}}g </div>
            <div class="tooltip-right">{{ lista.quantidade.toFixed(2) }} {{vitamina.unidade}}</div>

          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- </mat-card-content> -->
  <!-- </mat-card> -->
</div>