<mat-toolbar color="primary" class="toolbar">
  Plano Diário de Refeições
  <div class="custom-toggle-switch" (click)="onToggleChange()">
    <div class="switch-slider" [class.active]="ocultarDetalhes"></div>
    <div class="switch-label"></div>
  </div>
</mat-toolbar>

<div class="main-content">
  <h2 style="margin-right: 10px;">Plano Diário de Refeições</h2>
  <app-meallist [refeicoes]="refeicoesFormat" [ocultarDetalhes]="ocultarDetalhes"></app-meallist>
</div>

<div class="fixed-panel">
  <div class="container-left">
    <app-totalmeallist [totalMacroDia]="totalMacroDia" [totalMacroRefeicao]="totalkcalPorRefeicao"></app-totalmeallist>
  </div>
  <div class="container-right">
    <app-totaldailylist [totalMacroDia]="totalMacroDia" [distribuicaoMacros]="distribuicaoMacros" [totalNutrientes]="totalNutrientes" [refeicoes]="refeicoes"
      [macrosPorKg]="macrosPorKg"></app-totaldailylist>
  </div>
</div>
