
<mat-toolbar color="#primary" class="toolbar">
  Plano Diário de Refeições
</mat-toolbar>
<!-- 
<div class="container body">
  <div class="left-panel-main">
    
  </div>
  <div class="right-panel-main"> 
    <div class="container">
      <div class="left-panel">
        <app-totalmeallist></app-totalmeallist>
      </div>
      <div class="right-panel"> 
        <app-totaldailylist></app-totaldailylist>
      </div>
    </div>
  </div>
</div>  -->


<div class="main-content">
  <h2 style="margin-right: 10px;">Plano Diário de Refeições</h2>
  <app-meallist [refeicoes]="refeicoes1"></app-meallist>
</div>

<div class="fixed-panel">
  <div class="container-left">
    <app-totalmeallist [totalMacroDia]="totalMacroDia" [totalMacroRefeicao]="totalkcalPorRefeicao"></app-totalmeallist>
  </div>
  <div class="container-right">
    <app-totaldailylist [totalMacroDia]="totalMacroDia" [distribuicaoMacros]="distribuicaoMacros" [totalNutrientes]="totalNutrientes"
      [macrosPorKg]="macrosPorKg"></app-totaldailylist>
  </div>
</div>